fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pydantic==2.9.2
numpy==2.1.1
spacy==3.8.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
celery==5.4.0
redis==5.1.1
pytest==8.3.3
qdrant-client==1.11.3
alembic==1.13.2
